body {
  margin: 0;
  font-family: arial;
}

* {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.screen {
  box-sizing: border-box;
}

.screen .wrapper {
  max-width: 900px;
  position: relative;
  margin: auto;
  font-size: 0;
  text-align: center;
}

.lya-social-button {
  width: 300px;
  height: 300px;
  display: inline-block;
  font-size: 16px;
  position: relative;
}

.lya-social-button .buttons {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.lya-social-button .share,
.lya-social-button .buttons li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: auto;
}

.lya-social-button .share {
  z-index: 10;
  background-color: #8233c4;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lya-social-button .buttons li {
  background-color: #8233c4;
  z-index: 5;
  transition: 0.3s;
  list-style: none;
  opacity: 0;
}

.lya-social-button .buttons li.extra {
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
}

.lya-social-button .buttons li.pop {
  opacity: 1;
}

.lya-social-button .buttons li a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.lya-social-button.lya-top-left .share,
.lya-social-button.lya-top-left .buttons li {
  background-color: #e72c2c;
}

.lya-social-button.lya-top .share,
.lya-social-button.lya-top .buttons li {
  background-color: #e29b71;
}

.lya-social-button.lya-top-right .share,
.lya-social-button.lya-top-right .buttons li {
  background-color: #e6d92f;
}

.lya-social-button.lya-left .share,
.lya-social-button.lya-left .buttons li {
  background-color: #45dddd;
}

.lya-social-button.lya-center .share,
.lya-social-button.lya-center .buttons li {
  background-color: #1d1fa5;
}

.lya-social-button.lya-right .share,
.lya-social-button.lya-right .buttons li {
  background-color: #7e33c4;
}

.lya-social-button.lya-bottom-left .share,
.lya-social-button.lya-bottom-left .buttons li {
  background-color: #dd3bad;
}

.lya-social-button.lya-bottom .share,
.lya-social-button.lya-bottom .buttons li {
  background-color: #37d637;
}

.lya-social-button.lya-bottom-right .share,
.lya-social-button.lya-bottom-right .buttons li {
  background-color: #914f12;
}
