body {
  margin: 0;
}

.wrapper {
  position: relative;
}

.block {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.block.block-1 {
  background-color: #2a9c9b;
  animation: rotate 1s 5.5s linear forwards;
}

.block.block-2 {
  background-color: #127900;
  animation: rotate 1s 4.5s linear forwards;
}

.block.block-3 {
  background-color: #f02259;
  animation: rotate 1s 3.5s linear forwards;
}

.block.block-4 {
  background-color: #3a2f39;
  animation: rotate 1s 2.5s linear forwards;
}

.block.block-5 {
  background-color: #fe4219;
  animation: rotate 1s 1.5s linear forwards;
}

.block.block-6 {
  background-color: #faf010;
  animation: rotate 1s 0.5s linear forwards;
}

.block span {
  font-size: 400px;
}

@keyframes rotate {
  0% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
  50% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      0% 100%,
      0% 0%
    );
  }
  75% {
    clip-path: polygon(50% 50%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%);
  }
  100% {
    clip-path: polygon(50% 50%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%);
  }
}
