.App {
  text-align: center;

  .overall {
    margin-right: 200px;
  }
}

.ibc {
  font-size: 0;
}

.ibc > * {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .App {
    .overall {
      margin-right: 0;
    }

    .header {
      > div {
        width: 100%;
      }
    }
  }
}
